<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">
        Hakkımızda
      </h3>
		   <p style="font-size:15px; color:lightgrey">
        We were established so that your height can reach more servers and users. You can add your bot to our system and increase the statistics comfortably.<br/>
        OWNERS : ග Yolster#0012 , AlpTheMusician ග#0012
      </p>
      <br>
      <a href="https://discord.gg/YynefgF" class="btn btn-default" style="background-color:#333; color:#fff">Discord Sunucusuna Katıl</a>
</div>
  </div></div></div>
<% include ./ek/footer %>