<br>
<div class="footer" style="color:#fff; border-radius:4px">
	<div class="footer_container" style="color:#fff; text-align:center">
<br/><br/><br/><br/>
			  <h2> THE BOT CITY </h2>
      <br/><h5>
      Developed with <img src="https://discord.com/assets/0483f2b648dcc986d01385062052ae1c.svg" width="20px" height="20px"> by Yolster and Alp.
      </h5>

    </h6>
	</div>
</div>